Repository HewlettPackard/shs-rxe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-cassini-enablement

.github/CODEOWNERS:

*       @hpe/hpc-shs-ss11-codereviewers  @hpe/hpc-shs-rxe-codereviewers
Jenkinsfile* @hpe/hpc-shs-cassini-enablement
*.spec @hpe/hpc-shs-cassini-enablement @hpe/hpc-shs-rxe-codereviewers
rpm_build_* @hpe/hpc-shs-cassini-enablement
runBuildPrep.sh @hpe/hpc-shs-cassini-enablement
set_slingshot_version.sh @hpe/hpc-shs-cassini-enablement
zypper-local.sh @hpe/hpc-shs-cassini-enablement
dkms* @hpe/hpc-shs-cassini-enablement
build.sh	@hpe/hpc-shs-cassini-enablement
run.*	@hpe/hpc-shs-cassini-enablement

Add DKMS install of rxe_init.sh script
  cray-rxe-driver.spec
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers

Add a force option to the rxe_init.sh script
  cray-rxe-driver.spec
  scripts/rxe_init.sh
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-ss11-codereviewers

Add a RXE_DEVEL target patch level
  .gitignore
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers

Change build to add hard failure
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers

Track and Verify source set TARGET
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers

build: Fix RXE DKMS post install script build: Remove ls-release from dependencies
  cray-rxe-driver.spec
  dkms.post_build.sh
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers

build: Fix RXE DKMS post install script build: Remove ls-release from dependencies
  cray-rxe-driver.spec
  dkms.post_build.sh
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers

build: Fix RXE DKMS post install script build: Remove ls-release from dependencies
  cray-rxe-driver.spec
  dkms.post_build.sh
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers

Add SLES15-SP6 support.
  patches/compatibility/rocky/2021-10-12_create_ah_index_73a549321003.patch
  patches/compatibility/rocky/2021-10-12_move_av_from_send_wqe_to_send_wr_cfc0312d9c83.patch
  patches/compatibility/rocky/rocky.series
  patches/compatibility/rocky/rocky9.2_compatibility.series
  patches/compatibility/sles/revert_standard_method_udp_sport.patch
  patches/compatibility/sles/sles.series
  patches/compatibility/sles/sles15_sp4_compatibility.series
  patches/compatibility/sles/sles15_sp5_compatibility.series
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers

Add SLES15-SP6 support.
  patches/compatibility/rocky/2021-10-12_create_ah_index_73a549321003.patch
  patches/compatibility/rocky/2021-10-12_move_av_from_send_wqe_to_send_wr_cfc0312d9c83.patch
  patches/compatibility/rocky/rocky.series
  patches/compatibility/rocky/rocky9.2_compatibility.series
  patches/compatibility/sles/revert_standard_method_udp_sport.patch
  patches/compatibility/sles/sles.series
  patches/compatibility/sles/sles15_sp4_compatibility.series
  patches/compatibility/sles/sles15_sp5_compatibility.series
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers

Update build.sh to use appropriate ce-devops branch
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

Update build.sh to use appropriate ce-devops branch
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

Add SLES15-SP7 build support
  Makefile
  cray-rxe-driver.spec
  patches/compatibility/common/2024-02-20_add_netmem_to_skb_frag_t_21d2e6737c97.patch
  patches/compatibility/sles/sles.series
  patches/compatibility/sles/sles15_sp6_compatibility.series
  patches/functionality/0009-RDMA-rxe-Extend-rxe_mr_copy-to-support-skb-frags.patch
  patches/functionality/0012-RDMA-rxe-Extend-rxe_icrc.c-to-support-frags.patch
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-cassini-enablement

Add SLES15-SP7 build support
  Makefile
  cray-rxe-driver.spec
  patches/compatibility/common/2024-02-20_add_netmem_to_skb_frag_t_21d2e6737c97.patch
  patches/compatibility/sles/sles.series
  patches/compatibility/sles/sles15_sp6_compatibility.series
  patches/functionality/0009-RDMA-rxe-Extend-rxe_mr_copy-to-support-skb-frags.patch
  patches/functionality/0012-RDMA-rxe-Extend-rxe_icrc.c-to-support-frags.patch
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-cassini-enablement

RHEL 9.6 Support
  cray-rxe-driver.spec
  patches/compatibility/rhel/rhel.series
  patches/compatibility/rhel/rhel_9_4_compatibility.series
  setup_rxe.sh
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-ss11-codereviewers

RHEL 9.6 Support
  cray-rxe-driver.spec
  patches/compatibility/rhel/rhel.series
  patches/compatibility/rhel/rhel_9_4_compatibility.series
  setup_rxe.sh
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-ss11-codereviewers

fix(setup): recognize RHEL 9.5 target with compatibility overlay
  patches/compatibility/rhel/rhel_9_5_compatibility.series
  setup_rxe.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-rxe-codereviewers

bugfix: move dkms build to posttrans, add kmod/dkms conflicts and preamble
  cray-rxe-driver.spec
  rxe_versions
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-rxe-codereviewers, @hpe/hpc-shs-ss11-codereviewers
